{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["~components", "./src/components"],
          ["~messages", "./src/messages"],
          ["~pages", "./src/pages"],
          ["~providers", "./src/providers"],
          ["~store", "./src/store"],
          ["~utils", "./src/utils"],
          ["~Test", "./src/Test.tsx"]
        ],
        "extensions": [".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:promise/recommended",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "plugins": ["formatjs"],
  "rules": {
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": true
      }
    ],
    "@typescript-eslint/no-unnecessary-condition": "error",
    "formatjs/enforce-default-message": ["error", "literal"],
    "formatjs/enforce-id": "error",
    "formatjs/no-camel-case": "error",
    "formatjs/no-emoji": "error",
    "formatjs/no-multiple-plurals": "error",
    "formatjs/no-multiple-whitespaces": "error",
    "formatjs/no-offset": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": ["builtin", "external", "internal", "parent", "sibling"],
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "~*",
            "group": "internal"
          },
          {
            "pattern": "~*/**",
            "group": "internal"
          }
        ],
        "warnOnUnassignedImports": true
      }
    ],
    "react/prop-types": "off",
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true
        }
      }
    ],
    "unicorn/no-null": "off",
    "unicorn/prefer-node-protocol": "off",
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "replacements": {
          "arg": false,
          "args": false,
          "env": false,
          "param": false,
          "params": false,
          "prop": false,
          "props": false,
          "ref": false,
          "req": false,
          "res": false
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    }
  ],
  "ignorePatterns": ["*.js"]
}
