# Build
dist/

# Cache
.intl_extract/
.intl_messages/
.nyc_output/
.eslintcache

# Dependencies
node_modules/

# Environment variables
.env

# Logs
coverage/
cypress/screenshots/
cypress/videos/
*.log

# System
.DS_Store
