# Build
dist/

# Cache
.eslintcache
tsconfig.lint.json

# Dependencies
node_modules/

# Environment variables
.env

# Logs
.nyc_output/
coverage/
cypress/screenshots/
cypress/videos/
*.log

# System
.DS_Store
