{
  "root": true,
  "extends": "@template-react/eslint-config/base",
  "rules": {
    "turbo/no-undeclared-env-vars": [
      "error",
      {
        // runtime variables
        "allowList": ["DATABASE_URL", "NODE_ENV", "PORT", "SESSION_SECRET"]
      }
    ]
  }
}
